<center>
    מן הסתם גם אתה נתקלת בתופעה שדברים פשוט נעלמים....
    <br> העיפרון הפליז והארנק. לכל דבר יכולה להיות נטיה להאבד
    <br>
    <br> אבל אנחנו באים לשים לזה סוף
    <br> הורד את הפליקציה שלנו
    <br> צור פרופיל באתר עם פרטיך האישים
    <br> קבל קוד QR שתוכל להדפיס או להזמין
    <br> תוכל להדביק אותו על כל חפציך האישיים.
    <br> וכך מי שימצא אותם יוכל לקבל פרטי התקשרות איתך בקלות ובזריזות
    <br> ולהחזיר לך אותם עוד היום.
    <br>
    <br> Find And Return לא תתאכזב!
    <br>
    <br> "האפליקציה שהצילה את חייי"
    <br> -אזרח אקראי שהתחיל להשתמש באפילקציה
    <br>
    <br> "לא האמנתי שהארנק יחזור אלי מתישהו"
    <br> -נערה שאיבדה ארנק עם כל כספה
    <br>
    <br> "אלפים כבר הורידו ונושעו. אל תהיו מאחור"
    <br> -עיתון סופשבוע מהנמכרים במדינה
</center>